@model ProjetoPortifolio.ViewModel.PortifolioViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title> @ViewBag.Title </title>
    @*@RenderSection("~/Views/Sections/styles.cshtml")*@
    <partial name="~/Views/Sections/styles.cshtml" />

</head>

<body>
    <partial name="PartialViewMenu" model="Model.botoes" />
    <br />
    <br />
    <div id="conteudoSite" class="container body-content">

        <h2> @Html.Raw(ViewBag.TituloConteudo) </h2>
        <br />
        <br />

        @RenderBody()

        <a id="gototop" href="#"><span class="fa fa-arrow-alt-circle-up"></span> &nbsp; Ir para o topo</a>
        <hr />
        <footer>
            <div class="row">
                <div class="col col-md-21"></div>
                <p id="footer-content">&copy; COPYRIGHT @DateTime.Now.Year  -  Pedro Vinicius Rodrigues Furlan - TODOS OS DIREITOS RESERVADOS    </p>
                <div class="col col-md-21"></div>
            </div>
        </footer>
    </div>

    <partial name="~/Views/Sections/Scripts.cshtml" />

    <partial name="~/Views/Shared/PortifolioScript.cshtml"/>
</body>

</html>
