@{
    Layout = null;
}

<br />
<br />
<br />
<button type="button" id="dowloadCurriculum" class="btn btn-success"><span class="fa fa-download"></span> &nbsp; Baixar Curriculum </button>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $("#dowloadCurriculum").click(function () {
        $.ajax({
            type:'GET',
            url:'@Url.Action("geraPDFCurriculum","GeraPDF")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success:function(response){
                if(response[0] == true){
                      window.location.href = '@Url.Content("~/GeraPDF/DonwloadArquivo")?caminhoArquivo=' + response[1];
                }
                else
                {
                    alert(reponse[1]);
                }
            },
            failure:function(){
                alert("Houve um erro ao tentar gerar o Curriculum !");
            }
        });
    });

</script>



