@{
    Layout = null;
}

<br />
<br />
<br />
<button type="button" id="dowloadCurriculum" class="btn btn-success"><span class="fa fa-download"></span> &nbsp; Baixar Curriculum </button>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $("#dowloadCurriculum").click(function () {
        alert("Exporta curriculum \n \n  Em Breve !");
    });

</script>



