@{
    Layout = null;
}

<div class="alert alert-warning alert-dismissible fade show" id="msg-alerta" role="alert" style="display:none;">
    <div id="titulo_alerta"></div> <br /> <br />
    <div id="texto-alerta"> </div>
    <button type="button" id="close-alert" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

