@{
    Layout = null;
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="js/addons/datatables.min.js"></script>
<script type="text/javascript">

    var fotosAdicionadas = [];

    /* Carrega dados titulo geral */

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "getDadosTituloGeral",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                document.getElementById("link_id").value = response[0];
                document.getElementById("desc_title_id").value = response[1];
            },
            failure: function () {
                alert("Ocorreu um erro na captura dos dados");
            }
        });

        // Data Table para listagem de dados
        $('#listagem_telas').DataTable({
            "paging": true, // false to disable pagination (or any other option)
             "pagingType": "full_numbers"
          });
          $('.dataTables_length').addClass('bs-select');


    });



    /* functions modal foto */
    function setDataModalFotos(nome) {
        limpaImagens();
        $("#typeHdn").text("foto");
        $("#nomePagina").text(nome);
        $("#ModalTitulo").html("Fotos Página " + nome);
        $(".custom-file-label").html("Escolha suas imagens...");
        $("#inputFileModal").show();

        $.ajax({
            type: 'GET',
            url: 'MakeImages',
            data: {
                idTela: nome
            },
            success: function (response) {
                if (response != "") {
                    $("#conteudo_fotos").html(response);
                } else {
                    $("#conteudo_fotos").html("Não há fotos incluidas! ");
                }
            },
            error: function (error) {
                alert("Ocorreu um erro na busca dos dados !");
            }
        });



    }

    function adicionarFotoPreview() {
        $("#preview_fotos").html("");
        fotosAdicionadas = Array.from(document.getElementById("data_fotos").files);
        $(".custom-file-label").html("");
        for (var i = 0; i < fotosAdicionadas.length; i++) {
            //Cria url da foto a ser subido
            var urlCriada = URL.createObjectURL(document.getElementById("data_fotos").files[i]);
            //Cria cada elemento div e da imagem preview
            $("#preview_fotos").append("<div data-placement='top' class='tip-top' data-toggle='tooltip' title='" + document.getElementById("data_fotos").files[i].name + "' id='" + document.getElementById("data_fotos").files[i].name + "'style='border:solid; margin:10px; display: -webkit-flex; -webkit-flex-wrap:wrap; display:inline-flex;flex-wrap:wrap;'><img width='80px' height='80px' src='" + urlCriada + "'><a style='cursor:pointer;'><span onclick='retiraFoto(\"" + document.getElementById("data_fotos").files[i].name + "\")' class='notify-badge'>x</span></a></img></div>");
            $(".custom-file-label").append(document.getElementById("data_fotos").files[i].name + ";" + " ");
        }
    }

    function limpaImagens() {
        $("#preview_fotos").html("");
        $("#data_fotos").val("");
    }

    function retiraFoto(tagFoto) {
        document.getElementById(tagFoto).remove();
        for (var i = 0; i < fotosAdicionadas.length; ++i) {
            if (fotosAdicionadas[i].name == tagFoto) {
                $(".custom-file-label").html($(".custom-file-label").html().replace(fotosAdicionadas[i].name + ";", ""));
                document.getElementById("data_fotos").files[i].removed = true;
            }
        }

        //document.getElementById("data_fotos").value = fotosAdicionadas;
    }

    function uploadFoto() {
        var data = Array.from(document.getElementById("data_fotos").files);
        var newData = data.filter(function (n) {
            return n.removed != true;
        });
        var nomePagina = $('#nomePagina').text();
        var tamanhoArray = newData.length;

        var formdata = new FormData();

        for (i = 0; i < tamanhoArray; i++) {
            formdata.append(newData[i].name + "*" + nomePagina + "*", newData[i]);
        }

        $.ajax({
            type: 'post',
            url: 'uploadImages',
            data: formdata,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response == true) {
                    alert('Imagens salvas com sucesso !!');
                    setDataModalFotos(nomePagina);
                } else {
                    alert('Nada foi salvo !');
                }

            },
            error: function (error) {
                alert("Atenção ocorreu um erro no upload de arquivos.");
            }
        });



    }

    function deleteImageBD(idimg) {
        var nomePagina = $('#nomePagina').text();

        $.ajax({
            type: 'POST',
            url: 'DeletaImagemBD',
            data: {
                idFoto: idimg
            },
            success: function (response) {
                if (response == true) {
                    alert('Foto deletada com sucesso !');
                    setDataModalFotos(nomePagina);
                } else {
                    alert('Erro no delete da imagem!');
                }
            },
            error: function (error) {
                alert("Ocorreu um erro no delete do dado !");
            }
        });

    }

    function chamaPopOver(idFoto) {

        $('[data-toggle="popover"]').popover('hide');

        $('.img-salva').popover({
            placement: 'top',
            html: true
        });
        //Desabilita o focus no modal para clicar no popover
        $(document).off('focusin.modal');
        $("#hdnIdFoto").text(idFoto);
        setTimeout(setDataPop, 10);
    }

    function setDataPop() {
        $(".popover-body").html("<form><div class='form-group'><label for='descImg'>Descrição  Imagem  &nbsp <br/></label><input id='cmpDesc' type=\"" + "text" + "\" class=\"" + "form-control" + "\" placeholder='Descrição da Imagem'> <br/> <button onclick='closePopOver()' type='button' class='btn btn-danger'> Fechar </button>  <button onclick='gravaDescricaoFoto()' type='button' class='btn btn-success'> Salvar Descrição </button></div></form>");
        setTimeout(setTextPop, 400);

    }

    function setTextPop() {

        var idimg = parseInt($("#hdnIdFoto").text());
        $.ajax({
            type: 'GET',
            url: 'getDescImg',
            data: {
                idImg: idimg
            },
            success: function (response) {
                $('#cmpDesc').val(response);
            },
            error: function (error) {
                alert("Ocorreu um erro na busca dos dados !");
            }
        });

    }

    function gravaDescricaoFoto() {
        var idimg = parseInt($("#hdnIdFoto").text());
        var desc = $("#cmpDesc").val();

        $.ajax({
            url: 'gravaDescricaoImagem',
            type: "POST",
            data: {
                idImagem: idimg,
                descricao: desc
            },
            success: function (retorno) {
                if (retorno == true) {
                    alert("Descrição salva com sucesso !");
                } else {
                    alert("Erro na gravacao da descricao !");
                }

            },
            error: function (error) {
                alert("Atenção ocorreu um erro no upload de arquivos.");
            }
        });
    }

    function closePopOver() {
        $('[data-toggle="popover"]').popover('hide');
    }

    /* final functions modal foto */



    function deletaPagina(idPagina) {
        $.ajax({
            type: 'GET',
            url: 'deletaPagina',
            data: {
                idTela:idPagina
            },
            success: function (response) {
                if (response[0] == true) {
                    alert(response[1]);
                    setTimeout(function () {
                        location.reload(true);
                    }, 2000);
                 
                } else {
                    alert(response[1]);
                }               
            },
            error: function (error) {
                alert("Falha ao deletar pagina");
            }
        });
    }

</script>
