@model ProjetoPortifolio.ViewModel.PortifolioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .notify-badge {
        position: fixed;
        margin-left: -15px;
        background: red;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 1px 10px;
        margin-top: -18px;
        font-size: 20px;
    }

    #preview_fotos {
        margin-left: 21px;
    }

</style>

@*<hr style="height:2px; border:thin; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" />*@

<br />


<div class="modal fade" id="modalDinamico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="typeHdn" hidden="hidden"></div>
                <div id="nomePagina" hidden="hidden"></div>
                <div id="hdnIdFoto" hidden="hidden"></div>
                <h5 class="modal-title" id="ModalTitulo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="conteudo_fotos" class="modal-body">

            </div>
            <div class="modal-footer">

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="data_fotos" onchange="adicionarFotoPreview()" name="imgs[]" multiple>
                    <label class="custom-file-label" for="customFile"></label>
                </div>

                <button type="button" style="display:none;" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="uploadFoto()">Gravar Fotos</button>
            </div>
            <div id="preview_fotos"></div>
        </div>
    </div>
</div>

<partial name="~/Views/Components/MensagemAlerta.cshtml">
<div class="row">

<div class="col col-md"></div>
    <div class="col col-md-12">
        <div class="box-itens">
            <div class="accordion" id="accordionExample">
                <!-- area titulo geral -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <span class="fa fa-pen-alt"></span> Modificação de Titulo Geral
                            <a class="btn_toggle fa fa-arrow-circle-down fa-pull-right"  data-toggle="collapse" data-target="#tabTituloGeral"></a>
                        </h2>
                    </div>
                    <div id="tabTituloGeral" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                        <partial name="~/Views/Components/CadastroLinkPartial.cshtml" model="new ProjetoPortifolio.Models.ModelCadastroLink(){ linkDescricao=String.Empty, linkUrl =String.Empty }">
                        </div>
                    </div>
                </div>
                <!-- area titulo geral -->

                <!-- area Paginas Cadastradas -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <span class="fa fa-book"></span> Paginas Cadastradas
                            <a class="btn_toggle fa fa-arrow-circle-down fa-pull-right"   data-toggle="collapse" data-target="#tabPaginasCadastradas"></a>
                        </h2>
                    </div>
                    <div id="tabPaginasCadastradas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <partial name="~/Views/Components/ListagemPaginasCadastradas.cshtml" model="Model.listaPaginasSistema">
                        </div>
                    </div>
                </div>
                <!-- area Paginas Cadastradas -->   

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <span class="fab fa-trello"></span> Configuração Curriculum
                            <a class="btn_toggle fa fa-arrow-circle-down fa-pull-right" id="button-collapse" data-toggle="collapse" data-target="#collapseThree"></a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Em breve
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col col-md"></div>

</div>
 <partial name="~/Views/Shared/Manager/_ScriptsManagerPrincipal.cshtml">





